footer {
    background-color: var(--color-bg);
    border-top: 1px solid var(--color-border);
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1.6rem 0;

    .footer-wrap {
        display: flex;

        .copyright {
          flex: 1;
          font-weight: 500;
          color : $gray-font-color;
          font-size: $font-small;
          margin-top: 4px;
        }
  
        .social-wrap {
          flex: 1;
          text-align: right;
          height: 1.5rem;
      
          .social {
            font-weight: 500;
            display: inline-block;
    
            &:not(:last-child) {
              margin-right: 14px;
            }
        
            img {
              width: 1.5rem;
              position: relative;
              transition: all .4s ease;

              &:hover {
                opacity: .6;
              }
            }
          }
        }
    }
}

@include mobile {
  footer {
    padding: 1.8rem 0;
    
    .footer-wrap {
      display: block;
      text-align: center;

      .copyright {
        text-align: center;
        font-weight: normal;
      }

      .social-wrap {
        text-align: center;
        margin-top: 1.4rem;

        .social img {
          width: 2rem;
          position: relative;
          
          &:hover {
            fill: #7b22ec;
          }
        }
      }
    }
  }
}

  
  