header {
  z-index: 999;
  top: 0;
  background-color: #fff;
  opacity: .9;
  width: 100%;
  height: 3.7rem;
  border-bottom: 1px solid $border-color;

  .header-wrap {
    display: flex;
    max-width: 1500px;
    margin: auto;
  }

  .logo-wrap {
    display: inline-block;
    flex : 1;
    position: relative;

    .logo {
      width: 3.6rem;
      margin-top: .5rem;
      transition: all .4s ease;

      &:hover {
        opacity: .6;
      }
    }
  }

  // Navigation Area ///////////////////////
  nav.menu-wrap {
    flex: 1;
    display: flex;
    float: right;

    .menu-list-wrap {
      flex: 1;

      .menu-list {
        display: flex;
        max-width: 30rem;
        margin-left: auto;

        .menu {
          flex: 1;
          display: inherit;
  
          a {
            text-transform: uppercase;
            line-height: 3.7rem;
            // padding: 1.3rem 0;
            position: relative;
            margin: 0 auto;
            letter-spacing: .08rem;
          }
            
          a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $primary-color;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
  
          a:hover:after, &.selected a:after{
            width: 100%; 
            left: 0; 
          }
  
          &.selected a {
              color : $primary-color;
          }
        }
      }
    }
  }
}

@include mobile {
  header {
    &.open {
      position: relative;
      .logo-wrap {
        opacity: 0;
      }
    }
    .header-wrap{
      height: 100%;
      display: block;
    }

    .logo-wrap {
      display: block;
      text-align: center;
      z-index: 1;
      opacity: 1;
      transition: opacity 0.5s;
    }

    nav.menu-wrap {
      .social-wrap {
        display: none;
      }

      .menu-toggle-wrap{
        display: block;
        flex:1;
        position: absolute;
        z-index: 100;
        top: 2rem;
        right: 1rem;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        font-size: 15px;
        line-height: 20px;
    
        .menu-toggle {
          .menu-ico {
            float: right;
            position: relative;
            width: 24px;
            height: 20px;
            margin-left: 8px;
    
            span, span:before, span:after {
              content: '';
              position: absolute;
              top: 8px;
              left: 0;
              width: 100%;
              height: 3px;
              -webkit-transition: all 0.1s;
              -moz-transition: all 0.1s;
              -ms-transition: all 0.1s;
              -o-transition: all 0.1s;
              transition: all 0.1s;
              background: $default-font-color;
          }
  
            span:before {
              top: -8px;
            }
          }
        }

        &.open {
          position: fixed;
          span {
            background-color: transparent !important;

            &::before {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              top : 0 !important;
            }

            &::after {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              top : 0 !important;
            }
          }

        }
      }

      .menu-list-wrap {
        position: fixed;
        right: 0;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        margin: -50px 0 0 -50px;
        padding-left: 50px;
        padding-top: 125px;
        background-color: #fff;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        .menu-list {
          margin: 0 auto;
          text-align: center;
          flex-direction: column;
          -webkit-flex-direction: column;

          .menu {
            font-size: $font-x-large;

            a:after {
              visibility: hidden;
            }
          }
        }

        &.open {
          transform : none;
        }
      }
    }
  }
}
