main {
  // min-height: 30rem;
  position: relative;

  .page-title-wrap {
    margin-bottom: 5.3rem;
    padding-top: 4.5rem;

    p {
      color : var(--color-text-gray);
    }

    .page-title {
      font-size: $font-x-x-large;
      margin-bottom: 1.2rem;
      
      .emoji {
        margin-right: 10px;
      }
    }

    @include mobile {
      & {
        margin-bottom: 4.4rem;
        padding-top: 3.8rem;
      }
    }
  }
}