main {
  min-height: 30rem;
  position: relative;

  .page-title-wrap {
    margin-bottom: 5.4rem;
    padding-top: 5rem;

    p {
      color : darken($gray-font-color, 20);
    }

    .page-title {
      font-size: $font-x-x-large;
      margin-bottom: 1.2rem;

      @include mobile {
        font-size: $font-x-x-x-large;
      }
      
      .emoji {
        margin-right: 14px;
      }
    }
  }
}