.floating {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  right: 1.5rem;
  border-radius: 50%;
  border: none;
  z-index: 1;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0px 6px 12px rgba(34, 31, 36, 0.1);

  &:hover {
    // box-shadow: 0px 5px 8px 0px rgba(34, 31, 36, 0.3);
    // margin-bottom: .3rem;
    opacity: .6;
}

  &.scroll {
    background: $gradient-color;
    bottom: 1.5rem;

    .arrow-up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      border: solid #fff;
      border-width: 0 .2rem .2rem 0;
      display: inline-block;
      padding: .2rem;
      position: relative;
      top : .1rem;
  }
}

  &.darkmode {
    bottom: 4.8rem;
    background-color: #fff;
    border: 1px solid $border-color;

    &.dark {
      background-color: lighten($gray-bg-dark, 10);
      border : 0;
  }

    img {
      width: 1.3rem;
      position: relative;
      top: .6rem;
      left: .6rem;
  }

}

  @include mobile {
    width: 3.2rem;
    height: 3.2rem;

    &:hover {
      margin-bottom: 0;
  }

    &.scroll {
      .arrow-up {
        border-width: 0 .28rem .28rem 0;
        padding: .3rem;
        top : .2rem;
    }
  }

    &.darkmode  {
      bottom: 5.4rem;
      img {
        width: 1.4rem;
        top: .9rem;
        left: .9rem;
    }
  }

}
}