footer {
    background-color: #fff;
    height: 3.7rem;
    line-height: 3.7rem;
    text-align: center;
    font-weight: 500;
    color : $gray-font-color;
    border-top: 1px solid $border-color;
    font-size: $font-small;
    position: relative;
    bottom: 0;
    width: 100%;
}

  
  