header {
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #fff;
  opacity: .9;
  width: 100%;
  height: 3.7rem;
  border-bottom: 1px solid $border-color;

  .header-wrap {
    max-width: 1500px;
    margin: auto;

    @include desktop {
      & {
        padding : 0 10%;
      }
    }
  }

  .logo-wrap {
    display: inline-block;
    flex : 1;
    position: relative;
    top: .8rem;

    .logo {
      width: 5.2rem;
    }

    img[alt]{
      font-family: $font-family-logo;
      font-size: $font-medium;
    }
  }

  // .logo {
  //   font-family: $font-family-logo;
  //   font-size: $font-medium;
  //   margin-top: .4rem;
  // }

  // Navigation Area ///////////////////////
  nav {
    width : 500px;
    display: flex;
    float: right;

    .gnb-wrap {
      display: flex;
      flex: 1;
      margin-right: 30px;
      
      .gnb {
        // text-align: center;
        flex: 1;
        display: inherit;

        a {
          text-transform: uppercase;
          padding: 1.3rem 0;
          position: relative;
          margin: 0 auto;
        }
          
        a:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: $primary-color;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        a:hover:after, &.selected a:after{
          width: 100%; 
          left: 0; 
        }

        &.selected a {
            color : $primary-color;
        }
      }
    }

    .social-wrap {
      text-align: right;
      margin-top: 1rem;
      flex: none;
  
      .social {
        color : $gray-font-color;
        font-weight: 500;
        display: inline-block;
        font-size: $font-small;

        &:not(:last-child) {
          margin-right: 20px;
        }
    
        img {
          width: 1.5rem;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

@include mobile {
  header {
    height: 6.4rem;
    position: relative;

    .header-wrap{
      height: 100%;
    }

    .logo-wrap {
      display: block;
      text-align: center;
    }

    nav {
      display: block;
      width: 100%;

      .social-wrap {
        display: none;
      }
    }
  }
}