main {
  min-height: 30rem;
  position: relative;
  margin-top: 3.7rem;

  .container {
    @include contentWrap;
  }

  .page-title-wrap {
    margin-bottom: 3.7rem;
    // text-align: center;
    padding-top: 3.7rem;

    p {
      color : darken($gray-font-color, 20);
    }

    .page-title {
      font-size: $font-x-x-large;
      margin-bottom: 1.2rem;
      
      .emoji {
        margin-right: 14px;
      }
    }
}
}

@include mobile {
  main {
    // margin-top: 6.4rem;
    margin-top: 0;
  }
}