section.posts {
    background-color: var(--color-bg-gray);
    padding-top : 3rem;
    padding-bottom : 2rem;
    transition: all .4s ease; 

    .section-title {
        font-size: $font-large;
        margin-bottom: 1.5rem;
    }

    article {
        // box-shadow: 0 6px 16px rgba(34, 31, 36, 0.09);
        box-shadow: 0 1px 0px rgba(34, 31, 36, 0.15);
        background-color: var(--color-bg);
        border-radius: 8px;
        flex: 1;
        margin-bottom: 1.6rem;
        position: relative;
        display: inline-block;
        margin-right: 1.7rem;
        margin-bottom: 1.7rem;
        overflow: hidden;
        transition: all .4s;
        top : 0;

        &:hover {
            box-shadow: 0 6px 16px rgba(34, 31, 36, 0.09);
            opacity: .8;
            top: -.3rem;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 10rem;
            object-position: center;
        }

        .post-info {
            padding: 1.2rem 1.6rem 1.6rem 1.6rem;
            min-height: 9rem;
            width: -webkit-fill-available;

            .category, .date {
                color : var(--color-point);
                font-weight: 600;
                font-size: $font-small;
                letter-spacing: .1rem;
            }

            .title {
                margin: 8px 0 6px 0;
                font-size: $font-medium;
                color: var(--color-text);
                text-overflow:ellipsis;
                white-space:nowrap;
                word-wrap:normal;
                width:100%;
                overflow:hidden;
            }
    
            .summary {
                color: var(--color-text-gray);
                line-height: 1.6rem;
                width: 100%;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-wrap:normal;
                overflow: hidden;
            }

            .tags-wrap {
                margin-top: 1rem;
                margin-bottom: .6rem;
                display: flex;
                overflow-x: auto;
                
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Opera*/
                }
        
                .tag {
                    flex-shrink: 0;
                    padding: .3rem .5rem;
                    margin-right: .4rem;
                    font-size: $font-small;
                    background-color: var(--color-bg-gray);
                    border-radius: 2px;
                    // transition: all 1s ease-in-out;
                    // -webkit-transition: all 1s ease-in-out;
                    cursor: pointer;
        
                    a {
                        color : darken($gray-font-color, 20);
                    }
        
                    &:hover {
                        background: $gradient-color;
                        a {
                            color : #fff;
                        }
                    } 
                }
            }    
        }
    }

    article.card {
        .date {
            display: none;
        }
    }


    article.list {
        width: 100%;
        margin-right: 0;

        a {
            display: flex;
        }

        img {
            display: none;
        }

        .post-info { 
            min-height: auto;
            position: relative;
            display: flex;

            .category,.summary {
                display: none;
            }

            .date {
                margin: 0;
                flex-basis: 5.4rem;
                top: .8rem;
                position: relative;
            }

            .tags-wrap {
                display: none;
            }
        }
    }
    
    @include desktop {
        article.card {
            width: calc(33% - .95rem);
            &:nth-of-type(3n){
                margin-right: 0;
            }
        }
    
        &.index {
            .container article:nth-child(5) {
                display: none;
            }
        }
    }

    @include tablet {
        article.card {
            width: calc(50% - .95rem);
            &:nth-of-type(2n){
                margin-right: 0;
            }
        }
    }

    @include mobile {
        padding-top : 2rem;

        article.card {
            .post-info {
                min-height: fit-content;
            }
            width: -webkit-fill-available;
            margin-right: 0;
        }
    }
}
