section.posts {
    background-color: $gray-bg;
    padding-top : 3rem;;
    padding-bottom : 3rem;
    transition: all .4s ease; 

    .section-title {
        font-size: $font-large;
        margin-bottom: 1.5rem;
    }

    article {
        box-shadow: 0 6px 16px rgba(34, 31, 36, 0.09);
        background-color: #fff;
        border-radius: 8px;
        flex: 1;
        margin-bottom: 1.6rem;
        position: relative;
        display: inline-block;
        margin-right: 1.7rem;
        margin-bottom: 1.7rem;
        overflow: hidden;
        transition: all .4s ease;

        &:hover {
            box-shadow: 0 1px 0px rgba(34, 31, 36, 0.15);
            opacity: .7;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 10rem;
            object-position: center;
        }

        .post-info {
            padding: 1.2rem 1.6rem 1.6rem 1.6rem;
            min-height: 9rem;

            .category {
                color : $primary-color;
                font-weight: 600;
                font-size: $font-small;
                letter-spacing: .1rem;
            }

            .title {
                margin: 8px 0 6px 0;
                font-size: $font-medium;
                color: $default-font-color;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-wrap:normal;
                width:100%;
                overflow:hidden;
            }
    
            .summary {
                color: $gray-font-color;
                line-height: 1.6rem;
                width: 100%;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-wrap:normal;
                overflow: hidden;
            }

            .tags-wrap {
                margin-top: 1rem;
                margin-bottom: .6rem;
                display: flex;
                overflow-x: auto;
                
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Opera*/
                }
        
                .tag {
                    flex-shrink: 0;
                    padding: .3rem .5rem;
                    margin-right: .6rem;
                    font-size: $font-small;
                    background-color: $gray-bg;;
                    border-radius: 2px;
                    transition: all 1s ease-in-out;
                    -webkit-transition: all 1s ease-in-out;
                    cursor: pointer;
        
                    a {
                        color : darken($gray-font-color, 20);
                    }
        
                    &:hover {
                        background: $gradient-color;
                        a {
                            color : #fff;
                        }
                    } 
                }
            }    
        }
    }

    .empty {
        text-align: center;
        height: 30rem;
        line-height: 30rem;
        color: darken($gray-font-color, 10);
    }

    @include desktop {
        article {
            width: calc(33% - .95rem);
            &:nth-of-type(3n){
                margin-right: 0;
            }
        }
    
        &.index {
            .container article:nth-child(5) {
                display: none;
            }
        }
    }

    @include tablet {
        article {
            width: calc(50% - .95rem);
            &:nth-of-type(2n){
                margin-right: 0;
            }
        }
    }

    @include mobile {
        article {
            .post-info {
                min-height: fit-content;
            }
            width: -webkit-fill-available;
            margin-right: 0;
        }
    }
}
