.switcher-wrap {
    padding: 3px;
    border: 1px solid darken($border-color, 10);
    border-radius: 30px;
    
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;

    .switcher-option {
        display: inline-block;
        font-size: $font-small;
        font-weight: bold;
        letter-spacing: .1rem;
        line-height: 2rem;
        padding: .2rem 1rem;
        border-radius: 30px;
        cursor: pointer;
        font-weight: normal;
        color: darken($gray-font-color, 15);
        transition: color 1s;
        transition: opacity .4s;

        &:hover {
            opacity: .7;
        }
        
        &.selected {
            background: $primary-color;
            color: #fff;
            font-weight: 500;
            background: $gradient-color;
            border : 1px solid var(--color-point);
        }
    }

    @include mobile {
        border : 0;
        margin: 0 0 1rem 0;
        display: flex;
        overflow-x: auto;
        width: auto;
        border-radius: initial;

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        
        .switcher-option {
            background: var(--color-bg);
            border: 1px solid var(--color-border);
            // box-shadow: 0 1px 0px rgba(34, 31, 36, 0.15);
            flex-shrink: 0;
            position: relative;
            top : 0;
            transition: all .4s;

            &:first-child {
                margin-left: 1rem;
            }

            &:last-child {
                margin-right: 1rem;
            }

            &:not(:last-child) {
                margin-right: .4rem;
            }
        }
    }
}

// .select-wrap {
//     display: none;

//     @include mobile { 
//         // display: block;
//         position: relative;
//         width: 100%;
//         border: 1px solid lighten($primary-color , 30);
//         border-radius: 4px;
//         z-index: 1;
//         margin-bottom: 1rem;

//         select {
//             padding: 1em .8em;
//             border: 0;
//             width: 100%;
//             filter: alpha(opacity=0);
//             -webkit-appearance: none;
//             font-size: $font-small;
//             color: var(--color-point);
//             background-color: var(--color-bg);
//             font-weight: 600;
//         }

//         &::before {
//             content: "";
//             position: absolute;
//             top: 50%;
//             right: 1rem;
//             width: 0;
//             height: 0;
//             margin-top: -.2rem;
//             border-left: .3rem solid transparent;
//             border-right: .3rem solid transparent;
//             border-top: .4rem solid var(--color-point);
//         }
//     }
// }



// dark mode 
.dark .switcher-wrap  {
    @include desktop {
        & {
            border: 1px solid var(--color-border);
        }
    }

    @include tablet {
        & {
            border: 1px solid var(--color-border);
        }        
    }

    @include mobile {
        .switcher-option:not(.selected) {
            border : 1px solid var(--color-bg);
        }
    }
}