.switcher-wrap {
    padding: 3px;
    border: 1px solid darken($border-color, 10);
    border-radius: 30px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;

    .switcher-option {
        font-size: $font-small;
        font-weight: bold;
        letter-spacing: .1rem;
        line-height: 2rem;
        padding: .2rem 1rem;
        border-radius: 30px;
        cursor: pointer;
        font-weight: normal;
        color: darken($gray-font-color, 15);
        transition: color 1s;
        transition: opacity .4s;

        &:hover {
            opacity: .7;
        }
        
        &.selected {
            background: $primary-color;
            color: #fff;
            font-weight: 500;
            background: $gradient-color;
        }
    }

    @include mobile {
        display: none;
    }
}

.select-wrap {
    display: none;

    @include mobile { 
        display: block;
        position: relative;
        width: 100%;
        border: 1px solid lighten($primary-color , 30);
        border-radius: 4px;
        z-index: 1;
        margin-bottom: 1rem;

        select {
            padding: 1em .8em;
            border: 0;
            width: 100%;
            filter: alpha(opacity=0);
            -webkit-appearance: none;
            font-size: $font-small;
            color: $primary-color;
            font-weight: 600;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 1rem;
            width: 0;
            height: 0;
            margin-top: -.2rem;
            border-left: .3rem solid transparent;
            border-right: .3rem solid transparent;
            border-top: .4rem solid $primary-color;
        }
    }
}