.toc-wrap {
    float: right;
    position: sticky;
    width: 200px;

    & > div {
        position: fixed; 
        border-left: 1px solid $border-color;
        padding-left: 1rem;
        font-size: $font-small;

        .title {
            color: $gray-font-color;
            font-weight: 500;
            font-size: $font-small;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        .content-list {
            & > ul > li {
                margin-bottom: .8rem;
                & > p, & > a {
                    font-weight: bold;
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
    
                li > ul {
                    margin-left: .8rem;
                    margin-bottom: .4rem;
                }
    
                p {
                    margin: .4rem 0;
                }
            }  
        }
    }

    @include mobile {
        display: none;
    }
}