.toc-wrap {
    float: right;
    position: sticky;

    & > div {
        position: fixed; 
        margin-left: 2rem;
        border-left: 1px solid $border-color;
        padding-left: 1rem;
        font-size: $font-small;

        h4 {
            color: $gray-font-color;
            // font-size: $font-small;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            margin-bottom: 1.2rem;
        }

        ul {
            list-style: none;
            margin: 0rem;
            padding: 0;
        }

        li > ul {
            margin-left: 1.25rem;
        }
    }
}