.toc-wrap {
    position: sticky;
    top: calc(9.5rem);
    overflow: auto;
    float: right;
    max-width: 11.4rem;
    max-height: calc(100vh - 19rem);
    border-left: 1px solid var(--color-border);
    padding-left: 1rem;
    font-size: $font-small;

        .title {
            color: var(--color-text-gray);
            font-weight: 500;
            font-size: $font-small;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-top: 0;
        }

        .content-list {
            line-height: 1.6rem;
            
            p {
                margin: 0;
            }

            & > ul > li {
                &:not(:last-child) {
                    margin-bottom: .2rem;
                }

                & > p, & > a {
                    font-weight: bold;
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
    
                li > p + ul {
                    margin-left: .8rem;
                    // margin-bottom: .4rem;
                }
            }  
    }

    @include mobile {
        // display: none;
        display: block;
        float: initial;
        position: relative;
        margin-top: -2rem;
        width: -webkit-fill-available;
        padding: 1.5rem;
        background-color: var(--color-bg-gray);
        border-radius: 8px;
        top: 0;
        max-width: unset;
        border: 0;
        max-height: none;

        .title {
            margin-top: 0;
        }

        .content-list {
            line-height: 1.8rem;
        }
    }
}