.tags-page-wrap {
    .page-title {
        &:before {
            content: "#";
            margin-right: .5rem;
        }
    }
    .all-tags {
        a {
            text-decoration: underline;
            color : $gray-font-color;
        }

        text-align: center;
        margin-bottom: 4.5rem;
        margin-top:-2.5rem;
    }
}

.all-tags-wrap {
    .tag {
        display: inline-block;
        margin-bottom: 1rem;
        padding: .3rem .5rem;
        margin-right: .8rem;
        background-color: var(--color-bg-gray);
        border-radius: 2px;
        cursor: pointer;

        a, .tag-count{
            color : darken($gray-font-color, 20);
        }

        a {
            &::before {
                content: "#";
                margin-right: .2rem;
            }
        }

        .tag-count {
            margin-left: .3rem;
            opacity: .4;
        }

        &:hover {
            background: $gradient-color;
            a, .tag-count{
                color : #fff;
            }
        } 
    }
}


.tags-wrap {
    .tag {
        padding: .3rem .5rem;
        margin-right: .4rem;
        font-size: $font-small;
        border-radius: 2px;
        cursor: pointer;
        
        a {
            &:before {
                content: "#";
                margin-right: .2rem;
            }
        }

        &:hover {
            background: $gradient-color;
            a {
                color : #fff !important;
            }
        }
    }
}