.tags-page-wrap {
    .page-title {
        &:before {
            content: "#";
            margin-right: 0.5rem;
        }
    }
    .all-tags {
        a {
            text-decoration: underline;
            color: $gray-font-color;
        }

        text-align: center;
        margin-bottom: 4.5rem;
        margin-top: -2.5rem;
    }
}

.all-tags-wrap {
    .tag {
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.3rem 0.5rem;
        margin-right: 0.8rem;
        background-color: var(--color-bg-gray);
        border-radius: 2px;
        cursor: pointer;

        a,
        .tag-count {
            color: darken($gray-font-color, 20);
        }

        a {
            &::before {
                content: "#";
                margin-right: 0.2rem;
            }
        }

        .tag-count {
            margin-left: 0.3rem;
            opacity: 0.4;
        }

        &:hover {
            background: $gradient-color;
            a,
            .tag-count {
                color: #fff;
            }
        }
    }
}

.tags-wrap {
    .tag {
        padding: 0.3rem 0.5rem;
        margin-right: 0.4rem;
        font-size: $font-small;
        border-radius: 2px;
        cursor: pointer;

        &:before {
            content: "#";
            margin-right: 0.2rem;
        }

        &:hover {
            background: $gradient-color;
            color: #fff !important;
        }
    }
}
