html, body {
  margin: 0;
	padding: 0;
  font-family: $font-family;
  color : $default-font-color;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
  outline: 0;
}

a { 
  text-decoration: none; 
  color : $default-font-color;
}

a:hover { 
  color : $primary-color;
}

p {
  margin: .6rem 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

hr {
  border : 1px solid $gray-bg;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

::selection {
  background-color: $selection-color;
  color: #fff;
}

div.wrapper {
  position: relative;
  min-height: 100%;
}

ul {
  padding-inline-start: 20px;
}

.container {
  @include contentWrap;
}

.empty {
  text-align: center;
  height: 30rem;
  line-height: 30rem;
  color: darken($gray-font-color, 10);
}

.scroll {
  background: $gradient-color;
  box-shadow: 0px 5px 8px 0px rgba(34, 31, 36, 0.3);
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
  border: none;
  z-index: 1;
  padding-top: .4rem;
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    box-shadow: 0 2px 0px rgba(34, 31, 36, 0.15);
    opacity: .7;
  }

  .arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border: solid #fff;
    border-width: 0 .2rem .2rem 0;
    display: inline-block;
    padding: .2rem;
  }
}

.container {
  @include desktop {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @include tablet {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }

  @include mobile {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
