body {
  --color-bg: #{$color-white};
  --color-bg-gray : #{$gray-bg};
  --color-text: #{$color-black};
  --color-text-gray : #{$gray-font-color};
  --color-border: #{$border-color};
  --color-point : #{$primary-color};
}

body.dark {
  --color-bg: #{$bg-light};
  --color-bg-gray : #{$gray-bg-light};
  --color-text: #{$color-white};
  --color-text-gray : #{$gray-font-color-light};
  --color-border: #{$border-color-light};
  --color-point : #{$primary-color-light};
}

html, body {
  margin: 0;
	padding: 0;
  font-family: $font-family;
  color : $color-black;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: all .2s;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
  outline: 0;
}

a { 
  text-decoration: none; 
  color : var(--color-text);
  transition: color .2s;
}

a:hover { 
  color : var(--color-point);
}

p {
  margin: .6rem 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

hr {
  border : 1px solid $gray-bg;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

::selection {
  background-color: var(--color-point);
  color: #fff;
}

div.wrapper {
  position: relative;
  min-height: 100%;
}

ul {
  padding-inline-start: 20px;
}

input {
  &::placeholder {
    color : lighten($gray-font-color, 15);
  }
}

.dark input {
  &::placeholder {
    color : darken($gray-font-color, 40);
  }
}

.container {
  @include contentWrap;
}

.empty {
  text-align: center;
  height: 30rem;
  line-height: 30rem;
  color: darken($gray-font-color, 10);
}

.floating {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  right: 1.5rem;
  border-radius: 50%;
  border: none;
  z-index: 1;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0px 6px 12px rgba(34, 31, 36, 0.1);

  &:hover {
    box-shadow: 0px 5px 8px 0px rgba(34, 31, 36, 0.3);
    margin-bottom: .3rem;
  }

  &.scroll {
    background: $gradient-color;
    bottom: 1.5rem;
  
    .arrow-up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      border: solid #fff;
      border-width: 0 .2rem .2rem 0;
      display: inline-block;
      padding: .2rem;
      position: relative;
      top : .1rem;
    }

    &:hover {
      .arrow-up {
        opacity: .8;
      }
    }
  }

  &.darkmode {
    bottom: 4.8rem;
    background-color: #fff;
    border: 1px solid $border-color;
  
    &.dark {
      background-color: $color-black;
      border : 0;
    }
  
    img {
      width: 1.3rem;
      position: relative;
      top: .6rem;
      left: .6rem;
    }

    &:hover {
      img {
        opacity: .8;
      }
    }
  }

  @include mobile {
    width: 3.2rem;
    height: 3.2rem;
    
    &:hover {
      margin-bottom: 0;
    }

    &.scroll {
      .arrow-up {
        border-width: 0 .28rem .28rem 0;
        padding: .3rem;
        top : .2rem;
      }
    }

    &.darkmode  {
      bottom: 5.4rem;
      img {
        width: 1.4rem;
        top: .9rem;
        left: .9rem;
      }
    }

  }
}


.container {
  @include desktop {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @include tablet {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }

  @include mobile {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
